BACK-END/env
__pycache__/

.vscode/
FRONT-END/package-lock.json
FRONT-END/node_modules/
FRONT-END/.vscode/
FRONT-END/vscode/
FRONT-END/.expo/
FRONT-END/dist/
FRONT-END/npm-debug.*
FRONT-END/*.jks
FRONT-END/*.p8
FRONT-END/*.p12
FRONT-END/*.key
FRONT-END/*.mobileprovision
FRONT-END/*.orig.*
FRONT-END/web-build/
FRONT-END/

# macOS
.DS_Store
